@model CoreBPR.Models.NasabahPengurus

@{
    ViewData["Title"] = "Create";
}

<h4>Pemeliharaan Data Nasabah</h4>
<hr />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Nasabah" asp-action="EditBadanUsaha" asp-route-id="@ViewData["nasabahId"]">Data Nasabah Badan Usaha</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Data Pengurus Perusahaan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Nasabah" asp-action="EditLaporBadanUsaha" asp-route-id="@ViewData["NasabahId"]">Data Pelaporan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="NasabahKeuangan" asp-action="Index" asp-route-id="@Model.NasabahId">Data Laporan Keuangan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="NasabahDocument" asp-action="Index" asp-route-id="@Model.NasabahId">Data Dokumen Nasabah</a>
    </li>
</ul>
<br />

<p>
    <form asp-action="Create" asp-route-nasabahId="@ViewData["nasabahId"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="NasabahId" value="@ViewData["nasabahId"]" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PengurusName" class="control-label"></label>
                    <input asp-for="PengurusName" class="form-control" />
                    <span asp-validation-for="PengurusName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderPlusId" class="control-label"></label>
                    <select asp-for="GenderPlusId" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.GenderPlusId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="JabatanId" class="control-label"></label>
                    <select asp-for="JabatanId" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.JabatanId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PercentSaham" class="control-label"></label>
                    <input asp-for="PercentSaham" class="form-control" />
                    <span asp-validation-for="PercentSaham" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JenisIdentityId" class="control-label"></label>
                    <select asp-for="JenisIdentityId" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.JenisIdentityId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityNo" class="control-label"></label>
                    <input asp-for="IdentityNo" class="form-control" />
                    <span asp-validation-for="IdentityNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropinsiId" class="control-label"></label>
                    <select asp-for="PropinsiId" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.PropinsiId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="KotaId" class="control-label"></label>
                    <select asp-for="KotaId" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.KotaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Kecamatan" class="control-label"></label>
                    <input asp-for="Kecamatan" class="form-control" />
                    <span asp-validation-for="Kecamatan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kelurahan" class="control-label"></label>
                    <input asp-for="Kelurahan" class="form-control" />
                    <span asp-validation-for="Kelurahan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label"></label>
                    <input asp-for="IsActive" class="form-control" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</p>

<div>
    <a asp-action="Index" asp-route-nasabahId="@ViewData["nasabahId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#PropinsiId').change(function () {
                $.ajax({
                    url: '../../api/parameter/citiesbyprovince/' + $('#PropinsiId').val(),
                    contentType: 'application/json',
                    success: function (result) {
                        $('#KotaId').empty();
                        $.each(result, function () {
                            $('#KotaId').append($("<option />").val(this.cityId).text(this.cityName));
                        });
                        $('#KotaId').selectpicker('refresh');
                    }
                });
            });
        });
    </script>
}
