@model CoreBPR.Models.Nasabah

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nasabah</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaLengkap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaLengkap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaIdentity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefGender.GenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeRefProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeRefProvince.ProvinceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeRefCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeRefCity.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeKecamatan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeKecamatan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeKelurahan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeKelurahan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefHomeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefHomeStatus.HomeStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaIbuKandung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaIbuKandung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefCitizen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefCitizen.CitizenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefMarital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefMarital.MaritalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefEducation.EducationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefJenisIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefJenisIdentity.JenisIdentityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NPWPNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NPWPNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggungan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggungan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeHartaRefYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeHartaRefYesNo.YesNoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefJenisBadanUsaha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefJenisBadanUsaha.JenisBadanUsahaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefBidangUsaha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefBidangUsaha.BidangUsahaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APPNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APPNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APPDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APPDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APPChangeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APPChangeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APPChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APPChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notaris)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notaris)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeRefProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeRefProvince.ProvinceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeRefCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeRefCity.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeKecamatan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeKecamatan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeKelurahan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeKelurahan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeRefHomeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeRefHomeStatus.HomeStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefJobType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefJobType.JobTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatBekerja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatBekerja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseTempatLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseTempatLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseTanggalLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseTanggalLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseRefJenisIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseRefJenisIdentity.JenisIdentityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseIdentityNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseIdentityNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseRefJobType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseRefJobType.JobTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseRefEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseRefEducation.EducationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPelaporan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPelaporan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefSourceIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefSourceIncome.SourceIncomeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefGolonganNasabah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefGolonganNasabah.GolonganNasabahId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefHubunganBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefHubunganBank.HubunganBankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMPKLebihRefYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMPKLebihRefYesNo.YesNoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMPKLampauiRefYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMPKLampauiRefYesNo.YesNoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoPublicRefYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoPublicRefYesNo.YesNoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peringkat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peringkat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefLembagaRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefLembagaRating.LembagaRatingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupUsaha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupUsaha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NasabahId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
