@model IEnumerable<CoreBPR.Models.Nasabah>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaLengkap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempatLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRefProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRefCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeKecamatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeKelurahan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefHomeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaIbuKandung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefCitizen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefMarital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefJenisIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPWPNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggungan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodeHartaRefYesNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefJenisBadanUsaha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefBidangUsaha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPChangeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APPChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notaris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeRefProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeRefCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeKecamatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeKelurahan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeFax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeRefHomeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefJobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempatBekerja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseTempatLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseTanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseRefJenisIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseIdentityNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseRefJobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseRefEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaPelaporan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefSourceIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefGolonganNasabah)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefHubunganBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMPKLebihRefYesNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMPKLampauiRefYesNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoPublicRefYesNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peringkat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefLembagaRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupUsaha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaLengkap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaIdentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefGender.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempatLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRefProvince.ProvinceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRefCity.CityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeKecamatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeKelurahan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefHomeStatus.HomeStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaIbuKandung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefCitizen.CitizenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefMarital.MaritalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefEducation.EducationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefJenisIdentity.JenisIdentityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPWPNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggungan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodeHartaRefYesNo.YesNoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefJenisBadanUsaha.JenisBadanUsahaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBidangUsaha.BidangUsahaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPChangeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notaris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeRefProvince.ProvinceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeRefCity.CityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeKecamatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeKelurahan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeRefHomeStatus.HomeStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefJobType.JobTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempatBekerja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseTempatLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseTanggalLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseRefJenisIdentity.JenisIdentityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseIdentityNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseRefJobType.JobTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseRefEducation.EducationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPelaporan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefSourceIncome.SourceIncomeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefGolonganNasabah.GolonganNasabahId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefHubunganBank.HubunganBankId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMPKLebihRefYesNo.YesNoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BMPKLampauiRefYesNo.YesNoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoPublicRefYesNo.YesNoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peringkat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefLembagaRating.LembagaRatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupUsaha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NasabahId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NasabahId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NasabahId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
