@model cloudscribe.Pagination.Models.PagedResult<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "RefUser";
    ViewData["Action"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <form asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="prov" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Data[0].RefGroup.GroupName)</label>
                    <div class="col-sm-8">
                        <select class="selectpicker form-control" data-live-search="true" name="group" asp-items="ViewBag.GroupId">
                            <option value="">-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="SearchString" class="col-sm-4 col-form-label">Find by name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="nama" value="@ViewData["nama"]" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="prov" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Data[0].RefUnit.UnitName)</label>
                    <div class="col-sm-8">
                        <select class="selectpicker form-control" data-live-search="true" name="unit" asp-items="ViewBag.UnitId">
                            <option value="">-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-link">Back to Full List</a>
                </div>
            </div>
        </div>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["IdSortParm"]" asp-route-group="@ViewData["group"]" asp-route-unit="@ViewData["unit"]" asp-route-nama="@ViewData["nama"]">
                    @Html.DisplayNameFor(model => model.Data[0].UserId)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["NameSortParm"]" asp-route-group="@ViewData["group"]" asp-route-unit="@ViewData["unit"]" asp-route-nama="@ViewData["nama"]">
                    @Html.DisplayNameFor(model => model.Data[0].FullName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].RefGroup.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].RefUnit.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsLogon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data[0].IsRevoke)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefGroup.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefUnit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLogon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRevoke)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" model="Model" view-data="ViewData" />
