@model CoreBPR.Models.RefUnit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RefUnit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KodeBPR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KodeBPR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefProvince.ProvinceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefProvince.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefCity.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefCity.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
